@use "../../../scss/variables.scss" as v;
@use "../../../scss/themes.scss" as t;
.longbtn {
  width: 127px;
  height: 55px;
  background-color: var(--del-key-bg);
  border-radius: 5px;
  color: var(--white);
  font-size: 1rem;
  font-family: v.$font;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 0 1px var(--del-key-shadow);
  cursor: pointer;
  &:hover {
    background-color: var(--del-key-bg-hover);
  }
}
