@use "../../../scss/variables.scss" as v;
@use "../../../scss/themes.scss" as t;
.btn {
  width: 55px;
  height: 50px;
  background-color: var(--numbers-bg);
  border-radius: 5px;
  color: var(--numbers-text);
  font-size: 1.8rem;
  font-weight: 700;
  font-family: v.$font;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 0 1px var(--numbers-shadow);
  cursor: pointer;
}
.btndel {
  width: 55px;
  height: 50px;
  background-color: var(--del-key-bg);
  border-radius: 5px;
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  font-family: v.$font;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 0 1px var(--del-key-shadow);
  cursor: pointer;
  &:hover {
    background-color: var(--del-key-bg-hover);
  }
}
