@use "../../../scss/variables.scss" as v;
.equal {
    width: 127px;
    height: 55px;
    background-color: var(--toggle);
    border-radius: 5px;
    color: var(--white);
    box-shadow: 0 2px 0 1px var(--equal-shadow);
    font-size: 1.3rem;
    font-family: v.$font;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: hsl(6, 100%, 62%);
    }
}