@use "../../scss/variables.scss" as v;
@use "../../scss/themes.scss" as t;
.display {
  width: 100%;
  background-color: var(--display-bg);
  height: 75px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 20px;
  .numbers {
    font-size: 1.9rem;
    font-family: v.$font;
    padding: 0 10px;
    color: var(--display-text);
    font-weight: 700;
    margin-top: 5px;
    letter-spacing: 1px;
  }
}
