.blue {
  //Backgrounds
  --main-bg: var(--gr-b);
  --toggle-bg: var(--gr-b2);
  --display-bg: var(--gr-b3);
  //Keys
  --del-key-bg: var(--grayish-b);
  --del-key-bg-hover: var(--grayish-b-hover);
  --del-key-shadow: var(--grayish-b2);
  --toggle: var(--orange);
  --toggle-hover: var(--orange-hover);
  --equal-shadow: var(--d-orange);
  --numbers-bg: var(--grayish-l);
  --numbers-shadow: var(--grayish-l2);
  //Text
  --numbers-text: var(--blakish2);
  --display-text: var(--wh);
  --white: var(--wh);
  --equal: var(--wh);
}
.light {
  //Backgrounds
  --main-bg: var(--g);
  --toggle-bg: var(--g2);
  --display-bg: var(--g3);
  //Keys
  --del-key-bg: var(--teal);
  --del-key-bg-hover: var(--teal-hover);
  --del-key-shadow: var(--d-teal);
  --toggle: var(--d-yellow);
  --toggle-hover: var(--d-yellow-hover);
  --equal-shadow: var(--brown);
  --numbers-bg: var(--gr);
  --numbers-shadow: var(--gr2);
  //Text
  --numbers-text: var(--blakish);
  --display-text: var(--blakish);
  --white: var(--wh);
  --equal: var(--wh);
}
.magenta {
  //Backgrounds
  --main-bg: var(--d-p);
  --toggle-bg: var(--d-p2);
  --display-bg: var(--d-p3);
  //Keys
  --del-key-bg: var(--l-p);
  --del-key-bg-hover: var(--l-p-hover);
  --del-key-shadow: var(--vl-p);
  --toggle: var(--vl-b);
  --toggle-hover: var(--vl-b-hover);
  --equal-shadow: var(--ul-b);
  --numbers-bg: var(--vd-p);
  --numbers-shadow: var(--p);
  //Text
  --numbers-text: var(--y);
  --display-text: var(--y);
  --white: var(--wh);
  --equal: var(--eq);
}
.bubblegum {
  //Backgrounds
  --main-bg: var(--light-pink);
  --toggle-bg: var(--lightish-pink);
  --display-bg: var(--faded-pink);
  //Keys
  --del-key-bg: var(--faded-blue);
  --del-key-bg-hover: var(--d-blue);
  --del-key-shadow: var(--blue);
  --toggle: var(--washed-y);
  --toggle-hover: var(--y3);
  --equal-shadow: var(--y2);
  --numbers-bg: var(--washed-pink);
  --numbers-shadow: var(--pink);
  //Text
  --numbers-text: var(--b);
  --display-text: var(--w);
  --white: var(--wh);
  --equal: var(--eq);
}
