@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");

$font: "League Spartan", sans-serif;

:root {
  //theme 1
  --gr-b: hsl(222, 26%, 31%);
  --gr-b2: hsl(223, 31%, 20%);
  --gr-b3: hsl(224, 36%, 15%);

  --grayish-b: hsl(225, 21%, 49%);
  --grayish-b-hover: hsl(225, 34%, 62%);

  --grayish-b2: hsl(224, 28%, 35%);
  --orange: hsl(6, 63%, 50%);
  --orange-hover: hsl(6, 83%, 57%);

  --d-orange: hsl(6, 70%, 34%);
  --grayish-l: hsl(30, 25%, 89%);
  --grayish-l2: hsl(28, 16%, 65%);

  --blakish2: hsl(221, 14%, 31%);
  --wh: hsl(0, 0%, 100%);
  //theme 2
  --g: hsl(0, 0%, 90%);
  --g2: hsl(0, 5%, 81%);
  --g3: hsl(0, 0%, 93%);

  --teal: hsl(185, 42%, 37%);
  --teal-hover: hsl(185, 42%, 47%);

  --d-teal: hsl(185, 58%, 25%);
  --d-yellow: hsl(25, 98%, 40%);
  --d-yellow-hover: hsl(25, 97%, 46%);

  --brown: hsl(25, 99%, 27%);
  --gr: hsl(45, 7%, 89%);
  --gr2: hsl(35, 11%, 61%);

  --blakish: hsl(60, 10%, 19%);
  --wh: hsl(0, 0%, 100%);

  //theme 3
  --d-p: hsl(268, 75%, 9%);
  --d-p2: hsl(268, 71%, 12%);
  --d-p3: hsl(268, 71%, 12%);

  --l-p: hsl(281, 89%, 26%);
  --l-p-hover: hsl(281, 88%, 34%);

  --vl-p: hsl(285, 91%, 52%);
  --vl-b: hsl(176, 100%, 44%);
  --vl-b-hover: hsl(176, 100%, 50%);
  
  --ul-b: hsl(177, 92%, 70%);
  --vd-p: hsl(268, 47%, 21%);
  --p: hsl(290, 70%, 36%);

  --y: hsl(52, 100%, 62%);
  --wh: hsl(0, 0%, 100%);
  --eq: hsl(198, 20%, 13%);
}
