@use "../../scss/variables.scss" as v;
@use "../../scss/themes.scss" as t;
.nav {
  height: 50px;
  width: 100%;
  color: var(--display-text);
  display: flex;
  justify-content: space-between;
  align-items: center;
  .calc-text {
    color: var(---display-text);
    font-family: v.$font;
    font-size: 1.8rem;
    font-weight: 700;
  }
  .theme {
    display: flex;
    align-items: flex-end;
    font-family: v.$font;
    .theme-text {
      padding-right: 25px;
      font-family: v.$font;
      font-size: 0.7rem;
      font-weight: 700;
      letter-spacing: 1px;
      margin-bottom: 6px;
    }
    .theme-slider {
      display: flex;
      flex-direction: column;
      align-items: center;
      .nums {
        font-family: v.$font;
        letter-spacing: 19px;
        font-size: 0.7rem;
        font-weight: 600;
        padding-bottom: 5px;
        margin-right: -21px;
      }
      .toggle {
        display: flex;
        justify-content: center;
        border-radius: 50px;
        background-color: var(--toggle-bg);
        padding: 6px;
        %themes {
          height: 15px;
          width: 15px;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          background-color: var(--toggle);
          border-radius: 50%;
          cursor: pointer;
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
        .theme-off {
          @extend %themes;
          opacity: 0.2;
        }
        .theme-on {
          @extend %themes;
          opacity: 1;
          &:hover {
            cursor: pointer;
            background-color: var(--toggle-hover);
          }
        }
      }
    }
  }
}
